/* Burger Menu */
.main-navigation__menu-btn {
  width: 3rem;
  height: 3rem;
  background: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 2rem;
  cursor: pointer;
}

.main-navigation__menu-btn span {
  display: block;
  width: 3rem;
  height: 2.5px;
  background: white;

}

.main-navigation__title {
  color:#3498db;
  text-align: center;

}
/* ------------ h1 style ---------*/
.main-navigation__title a {
  text-decoration: none;
  color:white;

}

.main-navigation__header-nav {
  display: none;
}

.main-navigation__drawer-nav {
  height: 100%;
  /* background-color: #fbd7e3; */
  background-color: rgba(251, 215, 227, 0.5);
}

h2, h1, li{
  margin: 0;
}

h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  text-shadow: 2px 2px 3px rgba(248, 129, 168, 0.8);
}

@media (min-width: 768px) {
  .main-navigation__menu-btn {
    display: none;
  }

  .main-navigation__header-nav {
    display: block;
    /* mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #f05588 25%, #f05588 75%, rgba(248, 129, 168, 0.3) 100%); */
  }

  h1{ 
    font-size: 60px;
    text-shadow: 2px 2px 3px rgba(248, 129, 168, 0.8);

  }
}