.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .nav-links li {
    margin: 1rem;
  }

  .nav-links ul {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
  }
  
  .nav-links a {
    padding: 15px;
    font-family: "Open Sans";
    text-transform:uppercase;
    font-size: 20px;
    text-decoration: none;
    display: block;
    /* color: white; */
    /* background-color: rgba(251, 215, 227, 0.9); */
    color: rgba(247, 39, 108, 0.9);
    text-shadow: 2px 2px 3px rgba(255,255,255,0.2);
    background: #f05588;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;

  }
  
  .nav-links a:hover,
  .nav-links a:active,
  .nav-links a.active {
    text-shadow: 2px 2px 3px rgba(255,255,255,0.2);
    border: #f8c1d4 solid 3px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
  }
  
  .nav-links button {
    cursor: pointer;
    border: 1px solid #292929;
    color: #292929;
    background: transparent;
    padding: 0.5rem;
    font: inherit;
  }
  
  /* .nav-links button:focus {
    outline: none;
  } */
  
  /* .nav-links button:hover,
  .nav-links button:active {
    background: #292929;
    color: white;
  }
   */

/* ---------------------------- Menu desktop ------ */

  @media (min-width: 768px) {
    .nav-links {
      flex-direction: row;
    }
  
    .nav-links li {
      margin: 0 0.5rem;
    }
  
    .nav-links a {
      color: white;
      text-decoration: none;
      background-color: transparent;
      border-top-left-radius: 6px; 
      border-top-right-radius: 6px;
      font-size: 20px;
      text-shadow: 2px 2px 3px rgba(4, 39, 10, 0.6);

    }

    .nav-links a:hover,
    .nav-links a:active,
    .nav-links a.active {
      color: white;
      border:  rgba(247, 164, 192, 0.9) solid 3px;
      border-bottom: none;
      text-shadow: 2px 2px 3px rgba(4, 39, 10, 0.6);
    }
  
    .nav-links button {
      border: 1px solid white;
      color: white;
      background: transparent;
    }
    
    .nav-links button:hover,
    .nav-links button:active {
      background: #f8df00;
      color: #292929; 
    }

    h3{
      font-family: 'Lora', serif;
      font-size: 17px;
    }

     h2{
      font-family: 'Lora', serif;
      font-size: 20px;
    }
    
    p{
      font-family: 'Lora', serif;
      font-size: 17px;
    }
  }
  